<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/selfcare/show.css">
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <a href='/sessions/logout'>  <button id="logout">log out</button></a>
      <% include ../partials/header.ejs %>
    </header>
    <div id='tile'>
          <a  href="/selfcare/<%=selfcare._id%>/edit"><button id='update'>edit</button></a>
       <%=selfcare.title%><form action="/selfcare/<%=selfcare._id%>?_method=DELETE" method="post">
        <input id='delete' type="submit" value="delete">
      </form>
      <img src='<%=selfcare.image%>'><br/>
      <%=selfcare.example%><br/>
      <br/>
      <%=selfcare.description%><br/>
      more resources: <a id='link' href='<%=selfcare.link%>'>here</a>
    </div>

    <br/>

    <% include ../partials/footer.ejs %>
  </body>
</html>
