<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/users/show.css">
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <a href='/sessions/logout'>  <button id="logout">log out</button></a>
      <% include ../partials/header.ejs %>
    </header>
    <div class="info">
      <%=user.name%> (<%=user.pronouns%>)<br/>
      <%=user.age%> years old<br/>
      <img src='<%=user.image%>'>
      <a href="/users/<%=user._id%>/edit"><button id='update'>edit</button></a>
    </div>

      <% include ../partials/footer.ejs %>
  </body>
</html>
